html {
    background-color: rgb(248, 141, 0);
    background-size: 2000px;
    background-repeat: no-repeat;
}
.container {
    width: 1100px; 
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 0;
}  
.button {
        position: absolute;
        top: 350px;
        left: 445px;
        width: 50px;
        height: 50px;
		display: inline-block;
		background: #ef8376;
		color: #fff;
		text-align: center;
		border-radius: 0.5em;
        padding: 1.9em 3em 0.65em 3em;
        font-weight: bold;
		border: 0;
        cursor: pointer;
		outline: 0;
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    }
    
.welcome {
    color: white;
    top: 15px;
    left: 230px;
    position: absolute;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.out {
    visibility: hidden;
    opacity: 0;
}
.fadeOut {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.button:hover {
			color: #fff;
			background: #ef8376;
}
.icon.circled {
			position: relative;
			display: inline-block;
			background: #2b252c;
			color: #fff;
			border-radius: 100%;
			width: 3em;
			height: 3em;
			line-height: 3em;
			text-align: center;
			font-size: 1.25em;
        }
        

.tijera img {
    width: 100px;
    height: 100px;
    border-radius: 0.5em;
    position: absolute;
    top: 250px;
    left: 120px;
    background-color: red;
}
.roca img {
    width: 100px;
    height: 100px;
    border-radius: 0.5em;
    position: absolute;
    top: 360px;
    left: 120px;
}
.papel img {
    width: 100px;
    height: 100px;
    border-radius: 0.5em;
    position: absolute;
    top: 470px;
    left: 120px;
}
.choose {
    color: rgb(7, 0, 0);
    top: 210px;
    left: 70px;
    position: absolute;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#pscore {
    position: absolute;
    color: rgb(65, 25, 30);
    top: 260px;
    left: 415px;
}
#cscore {
    position: absolute;
    color: rgb(65, 25, 30);
    top: 520px;
    left: 385px;
}
.hovereado {
    transition: all .1s ease-in-out; 
}
.hovereado:hover {
    opacity: 0.5;
    background-color: white;
}
#compcho {
    top: 280px;
    left: 760px;
    color: rgb(65, 25, 30);
}
#what {
    position: absolute;
    color: red;
    top: 560px;
    left: 330px;
    font-size: 2em;
}